.day {
    position: relative;
    width: calc(100% / 7);
    border: 0.5px solid #CCC;
    overflow: hidden;
}

.day::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #CF2B2A;
    background: linear-gradient(to right, transparent, #CCC, transparent);
    opacity: 0;
    visibility: hidden;
    z-index: 100;
    animation-timing-function: linear;
    animation-name: anima-loader-day;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    transition: visibility ease-out 300ms, opacity ease-out 300ms;
}

.day_number {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.day_number::selection {
    background-color: transparent;
    color: inherit;
}

.day_today .day_number {
    color: #FFF;
    background-color: #CF2B2A;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    top: 3.5px;
    justify-content: center;
    align-items: center;
}

.day_anotherMonth .day_number {
    color: #CCC;
}

.day_day {
    width: 100%;
}

.day_plus {
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: default;
    border-radius: 50%;
    background-color: #CCC;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: visibility ease-out 300ms, opacity ease-out 300ms;
}

.day_plus::before {
    content: "Crear evento";
    position: absolute;
    top: calc(50% - 8.5px);
    width: 70px;
    text-align: center;
    left: 25px;
    background-color: #CCC;
    border-radius: 100px;
    font-size: 0.8rem;
    height: 18px;
    visibility: hidden;
    opacity: 0;
    transition: visibility ease-out 300ms, opacity ease-out 300ms;
}

.day_plus svg {
    width: 10px;
    height: 10px;
    fill: #CF2B2A;
}

@media (hover: hover) and (pointer: fine) {
    .day_plus:hover {
        background-color: #CCC;
    }

    .day_plus:hover svg {
        fill: #FFF;
    }

    .day_plus:hover::before {
        visibility: visible;
        opacity: 1;
    }
}

@media (hover: hover) and (pointer: fine) {
    .day:hover .day_plus {
        visibility: visible;
        opacity: 1;
    }
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 27.5px;
    padding-bottom: 10px;
}

.loader::after {
    opacity: 0.5;
    visibility: visible;
}

@keyframes anima-loader-day {
    0% {
        left: -100%;
        right: 100%;
    }

    100% {
        left: 100%;
        right: -100%;
    }
}