.container {
    display: flex;
    justify-content: center;
}
.wrapper {
    width: 500px;   
}
.form {
    gap: 30px;
    display: flex;
    flex-direction: column;
}
.textarea textarea {
    height: 100px;
}
.dates {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}