.form {
    display: flex;    
}


.formi {
    margin: 0 2em;
    margin-bottom: 2em;
}

.botton {
    margin: 0 2em;
    margin-bottom: 2em;
}


.form__item {
    margin: 0 2em;
    margin-bottom: 2em;
}

.card {
    width: fit-content;
    padding: 0 5em;    
    padding-top: 50px;
}

.title {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    max-height: 200px;
    overflow-y: auto;
}

.description {
    text-align: center;
    max-height: 200px;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.dates {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.date div:nth-child(1) {
    font-weight: bold;
    color: #CF2B2A;
}
.date div {
    text-align: center;
    width: 100%;
}
.img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}
.img img {
    width: 300px;
    height: 200px;
    object-fit: contain;
    background-color: #d1d1d1;
    cursor: pointer;
}
.postalCode {
    margin-bottom: 20px;
}
.postalCode span {
    font-weight: bold;
    color: #CF2B2A;
}
.focus {
    width: 100%;
    margin-top: 30px;
}
.focus_title {
    width: 100%;
    text-align: left;
    font-weight: bold;
    color: #CF2B2A;
}
.focus_body {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    max-height: 200px;
    overflow-y: auto;
}
.focus_body div {
    border-radius: 5px;
    border: 1px solid #CF2B2A;
    padding: 2.5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: default;
    transition: background-color ease-out 300ms;
}
.focus_body div:hover {
    background-color: #fbd8d8;
}